.button{
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    margin-right: 5px;
    font-size: 20px;
    background-color: red;
    cursor: pointer;
}
.button:hover{
    background-color: #d70000;
}